*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,html {
  background: #525BFA;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input, textarea, button {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-products {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

a:active {
  color: #1A325B;
}

.wrapper {
  margin: 20px 0 25px;  
}

#main-title {
  padding-left: 30%;
  text-align: center;
  height: 55px;
  margin-bottom: 15px;
  line-height: 55px;
  color: #033DA0;
  font-size: 40px;
}

.nav {
  margin: 20px 0;
  background: #fafafa;
  border-radius: 10px;
  padding: 10px;
}

.nav .col-xs-3 {
  padding: 0;
  text-align: center;
}

.nav-tab {
  text-decoration: none;
  color: #2F7AF9;
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 2px;
}

.nav-tab.middle {
  border-left: 1px solid #93B9FB;
  border-right: 1px solid #93B9FB;
}

.nav-tab.right {
  border-right: 1px solid #93B9FB;
}

.nav-tab.selected, .nav-tab:hover {
  border-bottom: 2px solid #93B9FB;
  margin-bottom: 0;
}

.col-md-12.register {
  text-align: center;

}

.image-container img {
  width: 100%;
}

.register {
  padding: 40px;
  background: #fafafa;
}

.register h2 {
  margin-bottom: 22px;
}

.register .form-group {
  margin-bottom: 17px;
}

.register input {
  height: 40px;
  font-size: 18px;
  margin-left: 10px;
  padding: 5px;
}

.register .btn.btn-default {
  width: 200px;
  margin-left: 30px;
  font-size: 22px;
}

.register .form-group.email-group input {
  margin-left: 45px;
}
.register .form-group.pass-group input {
  margin-left: 15px;
}

.register .form-group.re-type-group {
  display: flex;
}

.register .form-group.re-type-group label {
  width: 80px;
  height: 40px;
  display: inline-block;
}

.register .form-group.re-type-group input {
  margin-left: 14px;
}

.register .email-group-login #email {
  margin-left: 40px;
}